body {
    background-color: sandybrown;
    display: flex;
    height: 100vh;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}

#sch_btn {
    border-radius: 0.5rem;
    border: none;
    padding: 1rem 22px;
    background-color: cadetblue;
    cursor: pointer;
}

#sch_btn:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(246, 246, 246, 0.74);
}

#sch_btn_text {
    font-size: 1rem;
    font-weight: bold;
}

#fizz_btn {
    border-radius: 0.5rem;
    border: none;
    padding: 1rem 60px;
    background-color: cadetblue;
    cursor: pointer;
}

#fizz_btn:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(246, 246, 246, 0.74);
}

#fizz_btn_text {
    font-size: 1rem;
    font-weight: bold;
}

@media (min-width: 600px) {
    #welcome_message > h4{
        font-size: 1.4rem;
    }
    #sch_btn {
        border-radius: 0.5rem;
        border: none;
        padding: 1rem 20px;
    }
    #sch_btn_text {
        font-size: 1.2rem;
        font-weight: bold;
    }
    #fizz_btn_text {
        font-size: 1.2rem;
        font-weight: bold
    }
    #fizz_btn {
        border-radius: 0.5rem;
        border: none;
        padding: 1rem 50px;
    }
}