body {
    background-color: sandybrown;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

}

#user_choice {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

#computer_choice {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.game_btn_design {
    padding: 15px 30px;
    border-radius: 1rem;
    border: 0;
    background-color: black;
    cursor: pointer;
}